<?xml version="1.0" encoding="utf-8" ?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:horizonos="http://schemas.horizonos/sdk"
  android:versionCode="5"
  android:versionName="2.3"
  android:installLocation="auto"
>

  <horizonos:uses-horizonos-sdk
    horizonos:minSdkVersion="69"
    horizonos:targetSdkVersion="69"
  />
  <uses-feature
    android:name="android.hardware.vr.headtracking"
    android:required="true"
  />
  <uses-feature
    android:name="oculus.software.handtracking"
    android:required="false"
  />
  <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />
  <uses-feature
    android:name="com.oculus.feature.PASSTHROUGH"
    android:required="false"
  />
  <uses-feature
    android:name="com.oculus.feature.VIRTUAL_KEYBOARD"
    android:required="false"
  />
  <uses-feature
    android:name="oculus.software.overlay_keyboard"
    android:required="false"
  />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-feature
    android:name="com.oculus.feature.RENDER_MODEL"
    android:required="false"
  />
  <uses-permission android:name="com.oculus.permission.RENDER_MODEL" />
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
  <uses-permission android:name="com.oculus.permission.USE_SCENE" />

  <application
    android:allowBackup="false"
    android:label="Cloud Receiver"
    android:usesCleartextTraffic="true"
  >
    <meta-data android:name="com.oculus.supportedDevices" android:value="all" />
    <meta-data
      android:name="com.oculus.handtracking.version"
      android:value="V2.0"
    />
    <uses-native-library
      android:name="libossdk.oculus.so"
      android:required="false"
    />

    <activity
      android:name=".CloudPlayerActivity"
      android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
      android:launchMode="singleTask"
      android:excludeFromRecents="false"
      android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode"
      android:exported="true"
    >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="com.oculus.intent.category.VR" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".ControlPanel"
      android:theme="@style/ThemeTransparent"
      android:allowEmbedded="true"
      android:exported="false"
    />

    <activity
      android:name=".TransportPanel"
      android:theme="@style/ThemeTransparent"
      android:allowEmbedded="true"
      android:exported="false"
    />
  </application>
</manifest>
